/* ========== Color Palette ==========
Black Forest: #143109 
Dry Sage: #AAAE7F
Beige: #D0D6B3
Cerulean: #40798C
Periwinkle: #CBC5EA
======================================= */

/* ========== Base Styles ========== */
html {
  font-family: 'Kayak Sans', sans-serif;
  background-color: #D0D6B3; 
}
body {
  color: #143109;
  margin: 0;
  padding: 0;
  background-image: url('/images/speranza.png');
  background-size: cover;    
  background-position: center;  
  background-attachment: fixed;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;  
}
p, li {
  font-weight: 300; 
}
h1, h2, h3 {
  font-weight: 700;
}
ul {
  list-style-type: none;
  gap: 1em;
} 
/* ========== Layout ========== */
#wrapper {
  padding: 2em;
  margin-top: 1.8em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D0D6B3;
}
#nav {
  display: flex;
  width: 100%;
  align-items: flex-start;
  font-weight: 300;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #AAAE7F; 
}
.nav ul {
  display: flex;        
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
  max-width: 33.33em;
  gap: 0;
}
.nav li {
  flex: 1;
}
.nav a {
  display: block;
  width: 100%;      
  padding: 1em 0;
  text-decoration: none;         
  text-align: center;
  font-size: 1.2em;
  color: #40798C;     
  font-weight: 400;
  transition: all 0.3s ease; 
}
.nav a:hover {
  background-color: #143109; 
  color: #D0D6B3;          
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
img {
  max-width: 100%;
  height: auto;
}
/* ========== Fonts ========== */
/* 1. Regular Weight */
@font-face {
  font-family: 'Kayak Sans';
  src: url('../fonts/kayak-sans-regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
}
/* 2. Regular Italic */
@font-face {
  font-family: 'Kayak Sans';
  src: url('../fonts/kayak-sans-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
/* 3. Bold Weight */
@font-face {
  font-family: 'Kayak Sans';
  src: url('../fonts/kayak-sans-bold.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal;
}
/* 4. Bold Italic */
@font-face {
  font-family: 'Kayak Sans';
  src: url('../fonts/kayak-sans-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
/* 5. Light Weight */
@font-face {
  font-family: 'Kayak Sans';
  src: url('../fonts/kayak-sans-light.woff2') format('woff2');
  font-weight: 300; 
  font-style: normal;
}
/* 6. Light Italic */
@font-face {
  font-family: 'Kayak Sans';
  src: url('../fonts/kayak-sans-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}